*{
    box-sizing: border-box;
}
p{
    text-align: center;
    font-size: 50px;
    margin-bottom:100px;
}
.element_CV ,.element_let{
    font-size: 30px;
}
.element_CV{
    background: rgb(222, 222, 222);
    padding: 50px 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
h6{
    text-align: center;
    width: 100%;
}
.element_let{
    background: rgb(222, 222, 222);
    padding: 50px 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.element {
    display: flex;
    flex-direction: row;
    gap: 20px;
}